<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">
<h1>All posts</h1>
<% for (let newAdventure of newAdventures) {%>
    <div class="card mb-3">
        <div class="row">

            <div class="col-md-4">
                <img class="img-fluid w-100 cimg" src="<%= newAdventure.images[0].url%>" alt="">

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= newAdventure.title %> </h5>
                    <p class="card-text"><%= newAdventure.description %></p>
                    <p class="card-text">
                        <small class="text-muted"> Location: <%= newAdventure.location%></small>
                    </p>
                    <a class="btn btn-success" href="/newAdventures/<%=newAdventure._id%>">View <%= newAdventure.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>
